name = "vnts-cf"
main = "src/worker.js"
compatibility_date = "2023-10-30"
  
[vars]
# 连接后缀：防止别人连接使用输入正确的后缀才能连接 ，用法 -s wss://域名/后缀
WS_PATH = "vnt"

# 默认网关地址  
GATEWAY = "10.26.0.1"

# 服务器网关显示名称  
GATEWAY_NAME = "服务器"

# 客户端服务端加密（Cloudflare Workers 的 Web Crypto API 不支持 RSAES-PKCS1-v1_5 算法，请勿开启！）
SERVER_ENCRYPT = "false"
  
# 是否禁用中继转发： 0 允许中继  1 仅P2P
DISABLE_RELAY = "0"

# 心跳检查间隔时间，检查单个客户端已经断开的连接(频率较高)，防止内存泄漏 单位：秒
HEARTBEAT_INTERVAL = "30"

# 健康检查间隔时间，检查所有已经断开的连接（频率较低），防止内存泄漏 单位：秒
HEALTH_CHECK_INTERVAL = "300"

# 每分钟请求限制（/room 和 /test 端点）  
RATE_LIMIT_PER_MINUTE = "30"

# 日志等级  
DEBUG_MODE = "1"
LOG_LEVEL = "debug"

VERSION = "2026-01-06"
  
[[durable_objects.bindings]]
# Durable Objects 绑定配置
name = "RELAY_ROOM"
class_name = "RelayRoom"
  
[[migrations]]
# Durable Objects 的数据库迁移版本
tag = "v1"
new_sqlite_classes = ["RelayRoom"]

# 开发环境默认输出 debug 等级日志
[env.development]
vars = { DEBUG_MODE = "1", LOG_LEVEL = "debug" }
  
# 生产环境默认输出 warn 等级日志    
[env.production]
vars = { DEBUG_MODE = "0", LOG_LEVEL = "warn" }
